@font-face {
  font-family: 'Reg';
  src: url('../fonts/ProductSansRegular.ttf');
}

@font-face {
  font-family: 'Itl';
  src: url('../fonts/ProductSansItalic.ttf');
}

@font-face {
  font-family: 'Bol';
  src: url('../fonts/ProductSansBold.ttf');
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
*,
body,
html {
  font-family: 'Reg', Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  width: 0;
}
::-ms-thumb {
  width: 0;
}
::-moz-range-thumb {
  width: 0;
}

em {
  font-family: 'Itl', Arial, Helvetica, sans-serif;
}

b {
  font-family: 'Bld', Arial, Helvetica, sans-serif;
}

.fa {
  padding: 10px;
  cursor: pointer;
}
.material-icons-round {
  padding: 10px;
  cursor: pointer;
}
.app {
  min-height: 100vh;
  padding: 50px 0;
}

.appbar {
  height: 50px;
  background: #ffffff;
  position: fixed;
  width: 100%;
}

.topbar {
  top: 0;
  border-bottom: 1px solid #d0d0d0;
}
.bottombar {
  bottom: 0;
  border-top: 1px solid #d0d0d0;
}
.appbar .bar {
  margin: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.appbar .tabs {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*paper*/
.paper {
  padding-left: 20px;
  padding-right: 20px;
}

/*tab*/
snap-tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

snap-tabs header {
  flex-shrink: 0;
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
  outline: #00ff00 dashed;
}

snap-tabs header nav {
  display: flex;
}

snap-tabs header nav a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  outline: #0015ff dashed;
  color: inherit;
  white-space: nowrap;
  padding: 5px 10px;
  font-weight: bold;
}

snap-tabs section {
  block-size: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
}
snap-tabs section article {
  padding: 10px;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}
